<section class="subscribe">

    <h2 class="subscribe__heading">Subscribe to get latest updates</h2>

    <form class="subscribe__form">

        <div class="subscribe__bar">
            
            <input type="email" placeholder="Your email address" class="subscribe__input" required>

            <button data-button="subscribe" type="button" class="subscribe__button">Subscribe</button>

        </div>

    </form>

</section>