<div class="testing">

    <div class="container">

        <div class="testing__layout">

            <div class="testing__title">

                <h1>Test your ability here</h1>

            </div>

            <div class="testing__carousel">

                {{> testing-carousel/testing-carousel testing=testing }}

            </div>

        </div>

    </div>

</div>