<html lang="en">

  <head>
    
    {{> meta }}

    <script src="https://cdn.jsdelivr.net/npm/embla-carousel@8.0.0/embla-carousel.umd.js"></script>

  </head>

  <body>

    {{> header/header }}

    {{> trending/trending }}

    {{> testing/testing }}

    {{> publications/publications }}

    {{> instructors/instructors }}

    {{> contact/contact }}

    {{> footer/footer }}

  </body>

</html>