.publications {
    display: flex;

    &__layout {
        padding-top: 36px;
        padding-bottom: 36px;

        @media (min-width: 992px) {
            display: flex;
            flex-direction: row;
            gap: clamp(24px, 4vw, 94px);
            padding-bottom: 140px;
        }
    }

    &__content {

        @media (min-width: 992px) {
            display: flex;
            flex-direction: column;
            order: 2;
        }
    }

    &__title h1 {
        text-align: center;
        padding-bottom: 18px;
        font-size: 24px;
        font-weight: 800;
        color: #0F756B;

        @media (min-width: 992px) {
            text-align: left;
            font-size: 48px;
            padding-bottom: 0;
        }
    }

    &__sub-title h2 {
        text-align: center;
        padding-bottom: 28px;
        font-size: 28px;
        font-weight: 600;
        color: #333333;

        @media (min-width: 992px) {
            text-align: left;
            font-size: 48px;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        padding-bottom: 28px;

        @media (min-width: 992px) {
            display: none;
        }
    }

    &__image-desktop {
        display: none;

        @media (min-width: 992px) {
            display: flex;
            order: 1;
            width: 100%;
            max-width: 604px;
            height: 542px;
        }
    }

    &__description p {
        text-align: center;
        padding-bottom: 28px;
        font-size: 17px;
        color: #333333;

        @media (min-width: 992px) {
            text-align: left;
            font-size: 24px;
            padding-bottom: 40px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;

        @media (min-width: 992px) {
            justify-content: start;
        }
    }

    &__button {
        width: 100%;
        max-width: 170px;
        height: 44px;
        text-align: center;
        align-content: center;
        border: 1px solid #1B353D;
        border-radius: 5px;
        background-color: white;
        color: #1B353D;
        font-family: 'poppins', sans-serif;
        font-size: 16px;
        font-weight: 500;
    }

    &__cards {
        display: flex;
        flex-direction: row;
    }

    &__carousel {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 100vw;
        overflow-x: hidden;

        @media (min-width: 992px) {
            padding-bottom: 112px;
        }
    }
}