<div class="publications">

    <div class="container">

        <div class="publications__layout">

            <div class="publications__content">

                <div class="publications__title">

                    <h1>Publications</h1>

                </div>

                <div class="publications__sub-title">

                    <h2>Publications from the best authors</h2>

                </div>

                <div class="publications__image">

                    <img src="/publication-photo-mobile.jpg" alt="Publications Photo" class="publications__photo-mobile">

                </div>

                <div class="publications__description">

                    <p>Lorem ipsum dolor sit at, consectetur adipielit. 
                    Facilisi fermentum, dignissim pharetra. Aliquam 
                    Lorem ipsum dolor sit at, consectetur adipielit. 
                    Facilisi fermentum, dignissim pharetra. Aliquam</p>

                </div>

                <div class="publications__buttons">

                    <button type="submit" class="publications__button">See Publications</button>

                </div>

            </div>

            <div class="publications__image-desktop">

                <img src="/publication-photo-desktop.jpg" alt="Publications Photo" class="publications__photo-desktop">

            </div>

        </div>

        <div class="publications__carousel">

            {{> publications-carousel/publications-carousel publications=publications }}

        </div>

    </div>

</div>
