<div class="courses">

    <div class="container">

        <div class="courses__title-main">

            <h1>What We Offer</h1>

        </div>
        
        <div class="courses__layout">


            <div class="courses__content">

                <div class="courses__title">

                    <h1>Online Courses</h1>

                </div>

                <div class="courses__sub-title">

                    <h2>Our courses are the best among others</h2>

                </div>

                <div class="courses__image">

                        <img src="/courses-photo-mobile.jpg" alt="Publications Photo" class="publications__photo-mobile">

                </div>

                <div class="courses__description">

                    <p>Lorem ipsum dolor sit at, consectetur adipielit. 
                        Facilisi fermentum, dignissim pharetra. Aliquam 
                        Lorem ipsum dolor sit at, consectetur adipielit. 
                        Facilisi fermentum, dignissim pharetra. Aliquam</p>

                </div>

                <div class="courses__buttons">

                        <button type="submit" class="courses__button">See Publications</button>

                </div>

            </div>

            <div class="courses__image-desktop">

                <img src="/courses-photo-desktop.jpg" alt="Publications Photo" class="publications__photo-desktop">

            </div>

        </div>

    </div>

</div>