<div class="trending">

    <div class="container">

        <div class="trending__carousel">

            {{> trending-carousel/trending-carousel trending=trending }}

        </div>

        <div class="trending__layout">

            <div class="trending__content">

                <div class="trending__title">

                    <h1>Online Exams</h1>

                </div>

                <div class="trending__sub-title">

                    <h2>Our exams prepare you for job opportunities</h2>

                </div>

                <div class="trending__image">

                    <img src="/trending-mobile-photo.jpg" alt="Trending Photo" class="trending__photo-mobile">

                </div>

                <div class="trending__description">

                    <p>Lorem ipsum dolor sit at, consectetur adipielit. 
                    Facilisi fermentum, dignissim pharetra. Aliquam 
                    Lorem ipsum dolor sit at, consectetur adipielit. 
                    Facilisi fermentum, dignissim pharetra. Aliquam </p>

                </div>

                <div class="trending__buttons">

                    <button type="submit" class="trending__button">Explore Exams</button>

                </div>


            </div>

            <div class="trending__image-desktop">

                <img src="/trending-desktop-photo.jpg" alt="Trending Photo" class="trending__photo-desktop">

            </div>

        </div>

    </div>

</div>