<footer class="footer">

    <div class="container">

        <div class="footer__layout">

            <div class="footer__subscribe">

                {{> subscribe/subscribe }}

            </div>

            <nav class="footer__nav">

                <div class="footer__contact">
                    <p><span class="footer__label">Address:</span><span> 38 opebi Road, Ikeja, Lagos State, Nigeia.</span></p>
                    <p><span class="footer__label">Phone:</span><span> +2349022396389</span></p>
                    <p><span class="footer__label" alt="Email">Email:</span><a href="mailto:contact@contentionary.com" class="footer__link-email"> contact@contentionary.com</a></p>
                </div>

                <div class="footer__menu">
                    <span class="footer__label-company">Company</span>
                    <a href="#" alt="About Us" class="footer__link">About Us</a>
                    <a href="#" alt="Features" class="footer__link">Features</a>
                    <a href="#" alt="Pricing" class="footer__link">Pricing</a>
                </div>

            </nav>

                <div class="footer__social">
                    
                    {{> social/social }}
                
                </div>

            <div class="footer__branding">

                {{> branding/branding }}

            </div>

    </div>

</footer>