<div class="social">
    
    <div class="social__nav">
        
        <div class="social__logo">

            <img src="/logo-column.svg" alt="Column Logo" class="social__column-logo">

            <svg class="social__column-logo-9" width="18" height="28" viewBox="0 0 19 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.34609 11.096C4.94368 12.3936 6.82739 12.2681 7.24756 10.9027L7.64636 9.60678C7.85042 8.94366 8.46873 8.49566 9.16243 8.50832L9.76437 8.5193C11.3914 8.54898 11.9671 6.3772 10.539 5.59706L4.6589 2.38479C4.30638 2.19221 4.28013 1.6998 4.63128 1.50472V1.50472C5.91078 0.78152 7.30155 0.419922 8.80357 0.419922C10.5281 0.419922 12.1136 0.878874 13.56 1.79678C15.0342 2.71468 16.2024 4.13326 17.0647 6.05252C17.9548 7.94396 18.3999 10.3778 18.3999 13.354C18.3999 16.7753 17.9131 19.5708 16.9396 21.7404C15.966 23.8821 14.6865 25.4537 13.101 26.455C11.5156 27.4564 9.80493 27.9571 7.96912 27.9571C6.38364 27.9571 5.00679 27.665 3.83854 27.0809C3.14584 26.7345 2.5167 26.3442 1.95113 25.9098C1.30642 25.4147 1.29224 24.4833 1.83123 23.8748L2.27861 23.3697C2.90474 22.6628 4.01621 22.6857 4.81411 23.1909C4.98217 23.2973 5.15766 23.3979 5.34057 23.4927C6.1194 23.8543 6.91213 24.0351 7.71878 24.0351C8.83139 24.0351 9.84665 23.7291 10.7646 23.1172C11.6825 22.5053 12.4335 21.49 13.0176 20.0714C13.2826 19.4153 13.4932 18.656 13.6494 17.7938C13.8592 16.6358 12.2649 15.9352 11.2235 16.4833V16.4833C10.1665 17.0396 9.15127 17.3177 8.17773 17.3177C5.89688 17.3177 4.03325 16.6502 2.58685 15.315C1.16827 13.9521 0.458984 11.8798 0.458984 9.0983C0.458984 8.63685 0.484215 8.19223 0.534675 7.76443C0.685483 6.48589 2.21029 6.45838 2.74882 7.62773L4.34609 11.096Z" fill="#0F756B"/>
            </svg>

        </div>

        <p class="social__description">We are not here to sell you products, we sell value through our expertise.</p>

        <div class="social__social-media">

            <a href="https://www.facebook.com" aria-label="Visit our Facebook page" alt="Facebook" class="social__button-link">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 12.067C0 18.033 4.333 22.994 10 24V15.333H7V12H10V9.333C10 6.333 11.933 4.667 14.667 4.667C15.533 4.667 16.467 4.8 17.333 4.933V8H15.8C14.333 8 14 8.733 14 9.667V12H17.2L16.667 15.333H14V24C19.667 22.994 24 18.034 24 12.067C24 5.43 18.6 0 12 0C5.4 0 0 5.43 0 12.067Z" fill="white"/>
                </svg>
            </a>

            <a href="https://x.com/" aria-label="Visit our Twitter page" alt="Twitter" class="social__button-link">
                <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.4762 0C4.6909 0 0 4.92545 0 11C0 17.0746 4.6909 22 10.4762 22C16.2615 22 20.9524 17.0746 20.9524 11C20.9524 4.92545 16.2615 0 10.4762 0ZM15.5108 8.29174C15.5179 8.40714 15.5179 8.52746 15.5179 8.64531C15.5179 12.2498 12.9035 16.4018 8.12606 16.4018C6.65285 16.4018 5.2872 15.9525 4.13669 15.179C4.34715 15.2036 4.54826 15.2134 4.76339 15.2134C5.97938 15.2134 7.09715 14.7812 7.9881 14.0496C6.84694 14.025 5.88818 13.2393 5.5608 12.1589C5.96067 12.2203 6.32079 12.2203 6.73236 12.1098C6.14477 11.9845 5.61663 11.6494 5.23767 11.1615C4.8587 10.6736 4.65229 10.0631 4.65349 9.43348V9.39911C4.99724 9.6029 5.40179 9.72812 5.82504 9.74531C5.46923 9.49633 5.17743 9.159 4.97551 8.76324C4.7736 8.36749 4.66781 7.92553 4.66752 7.47656C4.66752 6.9683 4.79379 6.50424 5.02062 6.10156C5.67282 6.94458 6.48666 7.63405 7.40925 8.12518C8.33184 8.61631 9.34254 8.8981 10.3756 8.95223C10.0085 7.09844 11.3274 5.59821 12.9128 5.59821C13.6611 5.59821 14.3346 5.92723 14.8093 6.45759C15.3963 6.34219 15.9575 6.11138 16.4579 5.80201C16.2638 6.43304 15.8569 6.96585 15.3168 7.30223C15.8406 7.2433 16.3457 7.09107 16.8134 6.87746C16.4602 7.42254 16.0183 7.90625 15.5108 8.29174Z" fill="white"/>
                </svg>
            </a>

            <a href="https://www.instagram.com/" aria-label="Visit our Instagram page" alt="Instagram" class="social__button-link">
                <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.41715 0.066C8.59015 0.012 8.96415 0 11.9521 0C14.9401 0 15.3141 0.013 16.4861 0.066C17.6581 0.119 18.4581 0.306 19.1581 0.577C19.8911 0.854 20.5561 1.287 21.1061 1.847C21.6661 2.396 22.0982 3.06 22.3741 3.794C22.6461 4.494 22.8321 5.294 22.8861 6.464C22.9401 7.639 22.9521 8.013 22.9521 11C22.9521 13.988 22.9391 14.362 22.8861 15.535C22.8331 16.705 22.6461 17.505 22.3741 18.205C22.0981 18.9391 21.6654 19.6042 21.1061 20.154C20.5561 20.714 19.8911 21.146 19.1581 21.422C18.4581 21.694 17.6581 21.88 16.4881 21.934C15.3141 21.988 14.9401 22 11.9521 22C8.96415 22 8.59015 21.987 7.41715 21.934C6.24715 21.881 5.44715 21.694 4.74715 21.422C4.01307 21.146 3.34797 20.7133 2.79815 20.154C2.23853 19.6047 1.80546 18.9399 1.52915 18.206C1.25815 17.506 1.07215 16.706 1.01815 15.536C0.964148 14.361 0.952148 13.987 0.952148 11C0.952148 8.012 0.965148 7.638 1.01815 6.466C1.07115 5.294 1.25815 4.494 1.52915 3.794C1.80587 3.06008 2.23927 2.39531 2.79915 1.846C3.34819 1.2865 4.01262 0.853443 4.74615 0.577C5.44615 0.306 6.24615 0.12 7.41615 0.066H7.41715ZM16.3971 2.046C15.2371 1.993 14.8891 1.982 11.9521 1.982C9.01515 1.982 8.66715 1.993 7.50715 2.046C6.43415 2.095 5.85215 2.274 5.46415 2.425C4.95115 2.625 4.58415 2.862 4.19915 3.247C3.83419 3.60205 3.55333 4.03428 3.37715 4.512C3.22615 4.9 3.04715 5.482 2.99815 6.555C2.94515 7.715 2.93415 8.063 2.93415 11C2.93415 13.937 2.94515 14.285 2.99815 15.445C3.04715 16.518 3.22615 17.1 3.37715 17.488C3.55315 17.965 3.83415 18.398 4.19915 18.753C4.55415 19.118 4.98715 19.399 5.46415 19.575C5.85215 19.726 6.43415 19.905 7.50715 19.954C8.66715 20.007 9.01415 20.018 11.9521 20.018C14.8901 20.018 15.2371 20.007 16.3971 19.954C17.4701 19.905 18.0521 19.726 18.4401 19.575C18.9531 19.375 19.3201 19.138 19.7051 18.753C20.0701 18.398 20.3511 17.965 20.5271 17.488C20.6781 17.1 20.8571 16.518 20.9061 15.445C20.9591 14.285 20.9701 13.937 20.9701 11C20.9701 8.063 20.9591 7.715 20.9061 6.555C20.8571 5.482 20.6781 4.9 20.5271 4.512C20.3271 3.999 20.0901 3.632 19.7051 3.247C19.3501 2.88207 18.9179 2.60121 18.4401 2.425C18.0521 2.274 17.4701 2.095 16.3971 2.046ZM10.5471 14.391C11.3318 14.7176 12.2055 14.7617 13.0191 14.5157C13.8326 14.2697 14.5355 13.7489 15.0078 13.0422C15.48 12.3356 15.6922 11.4869 15.6082 10.6411C15.5242 9.79534 15.1492 9.00497 14.5471 8.405C14.1634 8.02148 13.6994 7.72781 13.1885 7.54515C12.6776 7.36248 12.1326 7.29536 11.5926 7.34862C11.0527 7.40187 10.5313 7.57418 10.066 7.85313C9.6006 8.13208 9.20289 8.51074 8.90145 8.96185C8.60001 9.41296 8.40234 9.92529 8.32266 10.462C8.24299 10.9986 8.2833 11.5463 8.44069 12.0655C8.59808 12.5847 8.86863 13.0626 9.23287 13.4647C9.59711 13.8668 10.046 14.1832 10.5471 14.391ZM7.95415 7.002C8.47917 6.47697 9.10247 6.0605 9.78845 5.77636C10.4744 5.49222 11.2097 5.34597 11.9521 5.34597C12.6946 5.34597 13.4299 5.49222 14.1159 5.77636C14.8018 6.0605 15.4251 6.47697 15.9501 7.002C16.4752 7.52702 16.8916 8.15032 17.1758 8.8363C17.4599 9.52228 17.6062 10.2575 17.6062 11C17.6062 11.7425 17.4599 12.4777 17.1758 13.1637C16.8916 13.8497 16.4752 14.473 15.9501 14.998C14.8898 16.0583 13.4517 16.654 11.9521 16.654C10.4526 16.654 9.01448 16.0583 7.95415 14.998C6.89381 13.9377 6.29812 12.4995 6.29812 11C6.29812 9.50046 6.89381 8.06234 7.95415 7.002ZM18.8601 6.188C18.9903 6.06527 19.0944 5.91768 19.1665 5.75397C19.2385 5.59027 19.277 5.41377 19.2796 5.23493C19.2822 5.05609 19.2489 4.87855 19.1816 4.71281C19.1144 4.54707 19.0146 4.39651 18.8881 4.27004C18.7616 4.14357 18.6111 4.04376 18.4453 3.97652C18.2796 3.90928 18.1021 3.87598 17.9232 3.87858C17.7444 3.88119 17.5679 3.91965 17.4042 3.9917C17.2405 4.06374 17.0929 4.1679 16.9701 4.298C16.7315 4.55103 16.6008 4.88712 16.6059 5.23493C16.6109 5.58274 16.7513 5.91488 16.9973 6.16084C17.2433 6.40681 17.5754 6.54723 17.9232 6.5523C18.271 6.55737 18.6071 6.42669 18.8601 6.188Z" fill="white"/>
                </svg>
            </a>

            <a href="https://www.linkedin.com/" aria-label="Visit our LinkedIn page" alt="LinkedIn" class="social__button-link">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.02739 6.969H11.5645V8.819C12.0741 7.755 13.3807 6.799 15.3436 6.799C19.1064 6.799 19.9998 8.917 19.9998 12.803V20H16.1902V13.688C16.1902 11.475 15.6807 10.227 14.3836 10.227C12.5845 10.227 11.8369 11.572 11.8369 13.687V20H8.02739V6.969ZM1.49501 19.83H5.30453V6.799H1.49501V19.83ZM5.85024 2.55C5.85039 2.88528 5.78706 3.21724 5.66395 3.52659C5.54083 3.83594 5.36039 4.11651 5.1331 4.352C4.67253 4.83262 4.04911 5.10165 3.39977 5.1C2.75157 5.09954 2.12959 4.8312 1.66834 4.353C1.44187 4.11671 1.26204 3.83582 1.13914 3.52643C1.01625 3.21704 0.9527 2.88522 0.952148 2.55C0.952148 1.873 1.20929 1.225 1.66929 0.747C2.13013 0.268158 2.75238 -0.000299211 3.40072 2.50265e-07C4.05024 2.50265e-07 4.6731 0.269 5.1331 0.747C5.59215 1.225 5.85024 1.873 5.85024 2.55Z" fill="white"/>
                </svg>
            </a>

        </div>

    </div>

</div>