<div class="branding">

    <div class="branding__nav">

        <div class="branding__logo">

            <img src="/branding-logo.svg" alt="Contentionary Logo" class="branding__logo-image">

        </div>

        <div class="branding__tagline">

            <span>Powered By Contentionary</span>

        </div>

    </div>

</div>