.instructors {

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 54px;
        row-gap: 16px;
        padding-bottom: 70px;

        @media (min-width: 992px) {
            gap: 0;
        }
    }

    &__title h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-bottom: 33px;
        padding-top: 70px;
        font-size: 32px;
        font-weight: 700;
        color: #333333;

        @media (min-width: 992px) {
            font-size: 60px;
            padding-bottom: 84px;
            padding-top: 62px;
        }
    }
}