<div class="instructors" id="instructors">

    <div class="container">

        <div class="instructors__layout">

            <div class="instructors__title">

                <h1>Notable Instructors</h1>

            </div>

            <div class="instructors__cards">

                {{#each instructors}}
                    {{> instructors-card}}
                {{/each}}

            </div>

        </div>

    </div>

</div>