<div class="instructors-card">

    <div class="instructors-card__photo-container">

        <img src="{{photo}}" alt="{{name}}" class="instructors-card__photo">

    </div>

    <p class="instructors-card__job">{{job}}</p>

    <h3 class="instructors-card__name">{{name}}</h3>

</div>