.cta {
    display: flex;
    padding-bottom: 74px;

    &__layout {
        display: flex;
        justify-content: center;

        @media (min-width: 992px) {
            justify-content: space-between;
            gap: 20px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        @media (min-width: 992px) {
            flex: 1 1 0;
            max-width: 510px;
            text-align: left;
        }
    }

    &__title-main h1 {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        color: #333333;
        padding-bottom: 36px;

        @media (min-width: 992px) {
            font-size: 60px;
            padding-bottom: 108px;
        }
    }

    &__title h1 {
        display: none;

        @media (min-width: 992px) {
            display: flex;
            font-size: 60px;
            font-weight: 700;
            color: #333333;
        }
    }

    &__sub-title h2 {
        display: none;

        @media (min-width: 992px) {
            display: flex;
            font-size: 32px;
            font-weight: 500;
            color: #333333;
            padding-bottom: 10px;
        }
    }

    &__description {
        display: none;

        @media (min-width: 992px) {
            display: flex;
            font-size: 24px;
            font-weight: 500;
            color: #333333;
        }
    }

    &__form {
        width: 100%;
        max-width: 395px;

        @media (min-width: 992px) {
            max-width: 604px;
            height: 655px;
            box-shadow: 0 0 25px 0 rgba(17, 24, 39, 0.18);
            border-radius: 10px;
        }
    }
}