<header class="header">

    <div class="container">

    <div class="header__layout">
        
        <button data-button="navigation-toggle" class="navigation-toggle">

            <svg width="24" height="19" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 1.5H22.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1.5 9.5H22.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1.5 17.5H22.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

        </button>

        <div data-component="navigation" class="navigation">

        <a href="#">Home</a>
        <a href="#">Courses</a>
        <a href="#">Instructors</a>
        <a href="#">Schedules</a>
        <a href="#">Contact Us</a>

        </div>

        <div class="header__logo">

            <img src="/header-logo-column.svg" alt="Logo" class="header__logo-img">

            <svg width="14" height="21" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.69823 8.95565C4.03642 9.68999 5.10245 9.61897 5.34024 8.84625L5.93498 6.91356C6.05046 6.53828 6.40038 6.28475 6.79296 6.29191L8.67522 6.32625C9.59597 6.34305 9.92177 5.11399 9.1136 4.67249L3.61084 1.66636C3.34432 1.52076 3.32448 1.14848 3.58996 1.00099C4.55731 0.454229 5.60878 0.180847 6.74437 0.180847C8.04819 0.180847 9.24687 0.527832 10.3404 1.2218C11.455 1.91577 12.3382 2.98827 12.9901 4.4393C13.663 5.8693 13.9995 7.70937 13.9995 9.95952C13.9995 12.5461 13.6315 14.6596 12.8955 16.2999C12.1594 17.9191 11.1921 19.1073 9.99341 19.8644C8.79473 20.6214 7.50143 21 6.11348 21C4.91481 21 3.87385 20.7791 2.99062 20.3375C2.37775 20.0311 1.83071 19.6791 1.34947 19.2815C0.994797 18.9885 0.986426 18.463 1.29145 18.1186L2.03643 17.2775C2.39077 16.8774 3.01703 16.8887 3.44769 17.2052C3.65644 17.3586 3.88262 17.4984 4.12621 17.6247C4.71503 17.8981 5.31437 18.0348 5.92422 18.0348C6.7654 18.0348 7.53297 17.8035 8.22694 17.3408C8.92091 16.8782 9.48871 16.1106 9.93033 15.0381C10.1469 14.5019 10.3154 13.8747 10.4359 13.1564C10.5742 12.3315 9.44713 11.841 8.71645 12.2481C8.66932 12.2744 8.62181 12.3001 8.57393 12.3253C7.77481 12.7459 7.00724 12.9562 6.27121 12.9562C4.5468 12.9562 3.13782 12.4515 2.04429 11.4421C0.971795 10.4117 0.435547 8.84496 0.435547 6.74202C0.435547 6.17596 0.485767 5.64337 0.586206 5.14427C0.729942 4.43002 1.61235 4.42641 1.91711 5.08817L3.69823 8.95565Z" fill="#0F756B"/>
            </svg>

        </div>

        <div class="header__desktop-navigation">

        <a href="#">Home</a>
        <a href="#">Courses</a>
        <a href="#">Instructors</a>
        <a href="#">Schedules</a>
        <a href="#">Contact Us</a>

        </div>

        <div data-component="search-bar-desktop" class="search-bar-desktop">

            <input type="search" class="search-input-desktop" placeholder="Search..." required>

            <button data-button="search-toggle-desktop" class="search-toggle-desktop">

                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.99951 16C9.77449 15.9996 11.4983 15.4054 12.8965 14.312L17.2925 18.708L18.7065 17.294L14.3105 12.898C15.4045 11.4997 15.9991 9.77544 15.9995 8C15.9995 3.589 12.4105 0 7.99951 0C3.58851 0 -0.000488281 3.589 -0.000488281 8C-0.000488281 12.411 3.58851 16 7.99951 16ZM7.99951 2C11.3085 2 13.9995 4.691 13.9995 8C13.9995 11.309 11.3085 14 7.99951 14C4.69051 14 1.99951 11.309 1.99951 8C1.99951 4.691 4.69051 2 7.99951 2Z" fill="#242243" fill-opacity="0.3"/>
                </svg>

            </button>

        </div>

        <div data-component="search-bar" class="search-bar">

            <input type="search" class="search-input" placeholder="Search..." required>

        </div>


        <button data-button="search-toggle" class="search-toggle">

            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 18C11.775 17.9996 13.4988 17.4054 14.897 16.312L19.293 20.708L20.707 19.294L16.311 14.898C17.405 13.4997 17.9996 11.7754 18 10C18 5.589 14.411 2 10 2C5.589 2 2 5.589 2 10C2 14.411 5.589 18 10 18ZM10 4C13.309 4 16 6.691 16 10C16 13.309 13.309 16 10 16C6.691 16 4 13.309 4 10C4 6.691 6.691 4 10 4Z" fill="#242243" fill-opacity="0.3"/>
            </svg>

        </button>


        <div class="header__icon">

            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="28" height="28" rx="14" fill="#0F756B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.9674 11.7806C16.9674 13.3035 15.7463 14.5246 14.2224 14.5246C12.6989 14.5246 11.4773 13.3035 11.4773 11.7806C11.4773 10.2577 12.6989 9.03705 14.2224 9.03705C15.7463 9.03705 16.9674 10.2577 16.9674 11.7806ZM14.2224 19.4074C11.9732 19.4074 10.0742 19.0419 10.0742 17.6315C10.0742 16.2206 11.9852 15.868 14.2224 15.868C16.472 15.868 18.3705 16.2335 18.3705 17.6439C18.3705 19.0548 16.4596 19.4074 14.2224 19.4074Z" fill="#F5F5F5"/>
            </svg>

        </div>

        <div class="header__icon-desktop">

            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="40" height="40" rx="20" fill="#0F756B"/>
                <path d="M20 22.3514C23.2138 22.3514 25.9258 22.8737 25.9258 24.8885C25.9254 26.9038 23.1958 27.407 20 27.407C16.787 27.407 14.0742 26.8847 14.0742 24.8699C14.0746 22.8547 16.8043 22.3514 20 22.3514ZM20 12.5926C22.177 12.5926 23.9217 14.3361 23.9219 16.5115C23.9219 18.6871 22.1771 20.4315 20 20.4315C17.8237 20.4314 16.0791 18.6871 16.0791 16.5115C16.0793 14.3362 17.8238 12.5927 20 12.5926Z" fill="#F5F5F5"/>
            </svg>

        </div>

    </div>

</header>        
