* {
    margin: 0;
    border: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: 'open sans', sans-serif;

    @media (max-width: 991px) {
        padding-top: 90px;
    }
}

html {
    box-sizing: border-box;
}

.container {
    max-width: 1238px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 24px;
}